*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;
    height: 100px;
}
.brand-logo{
    display: inline-block;
    padding-left: 50px;
}
.logo{
    width: 100px;
}
a{
    color: black;
    padding-right: 20px;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}
.ach{
    display: inline-block;
}
.profile-basket{
    display: inline-block;
    padding-right: 50px;
}
.ri-user-3-fill{
    margin-right: 20px;
    
}
.nav2{
    padding-top: 120px;
    background-color: black;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
span{
    padding-bottom: 18px;
}
.modern{
    padding-left: 80px;
}
h1{
    font-size: 50px;
    display: inline-block;
    width: 600px;
    color: white;
}.dis{
    width: 500px;
    font-size: 14px;
    padding-left: 45px;
    color: white;
}
.para{
    padding-left: 100px;
}
.h{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    
}
.button{
    margin-top: 30px;
}
.explore{
    padding: 10px 20px 10px 20px;
    width: 200px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s,color 0.5s;
}
.explore:hover{
    
    background-color: black;
    color: white;
}
.box{
    background-image: url(channel/black-silk-satin-surface-dark-600nw-2262126003.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 520px;
    
}
.h1{
    color: black;
    font-size: 40px;
}
.arrival{
    display: inline-block;
    margin-top: 50px;
    padding-left: 50px;
}
.pa{
    color: black;
}
.see{
    padding: 10px 20px 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 25px;
    background-color: black;
    color: white;
    width: 200px;
    cursor: pointer;
}
.button2{
    display: inline-block;
    padding-right: 50px;
}
.box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cont{
    width: 300px;
    height: 600px;
    border: none;
    background-image: url(channel/men2.jpg);
    background-repeat: no-repeat;
    background-size: 300px 400px;
    margin-top: 70px;
    margin-left: 50px;
    
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    
}
.product{
    padding-top: 420px;
}
.men{
    color: grey;
    font-size: 13px;
    padding-top: 10px;
}
.size{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    border-width: 1px;
    border-color: black;
    margin-top: 10px;
}
.color-button{
    margin-top: 5px;
}
.color{
    padding: 8px;
    background-color: purple;
    border: none;
    margin-right: 5px;
   
    border-radius: 2px;
}
.color2{
    padding: 8px;
    background-color: blue;
    border: none;
    margin-right: 5px;
   
    border-radius: 2px;
}
.color3{
    padding: 8px;
    background-color: lightcoral;
    border: none;
    margin-right: 5px;
   
    border-radius: 2px;
}

.cont2{
    width: 300px;
    height: 600px;
    border: none;
    background-image: url(channel/nen\ witj\ tshrt.jpg);
    background-repeat: no-repeat;
    background-size: 300px 400px;
    margin-top: 70px;
    margin-left: 50px;
    
}
.cont3{
    width: 300px;
    height: 600px;
    border: none;
    background-image: url(channel/women.jpeg);
    background-repeat: no-repeat;
    background-size: 300px 400px;
    margin-top: 70px;
    margin-left: 50px;
    
}
.our{
    color: black;
}
.paragh{
    font-size: 13px;
    color: rgb(71, 69, 69);
    padding-top: 20px;
}
.categ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.container{
    width: 500px;
    height: 350px;
    margin-right: 25px;
    border-radius: 25px;
    background-image: url(channel/mens\ wear.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 100px;
    margin-top: 50px;
}
.container2{
    width: 500px;
    height: 350px;
    margin-right: 25px;
    border-radius: 25px;
    background-image: url(channel/3\ womens.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 100px;
    margin-top: 50px;
}
.container3{
    width: 500px;
    height: 350px;
    margin-right: 25px;
    border-radius: 25px;
    background-image: url(channel/cute-small-kids-listening-music-together_53876-38293.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 100px;
}
.container4{
    width: 500px;
    height: 350px;
    margin-right: 25px;
    border-radius: 25px;
    background-image: url(channel/accesssories.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 100px;
}

.mens-wear{
    margin-top: 380px;
    font-weight: bold;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s,color 0.5s;
}
.mens-wear:hover{
    background-color: black;
    color: white;
}
.wears{
    margin-left: 140px;
}
.box4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5{
    background-color: rgb(201, 149, 157);
}
.p{
    font-size: 13px;
    width: 330px;
    padding-left: 35px;
    padding-top: 30px;
}
.p-span{
    padding-left: 60px;
}
.seller{
    padding-top: 80px;
}
.best{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    
}
.sale{
    padding: 8px 10px 8px 10px;
    border: none;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 25px;
    margin-top: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.what{
    padding-left: 25px;
}

.customer{
    width: 200px;
    padding-bottom: 10px;
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.first-rev{
    width: 350px;
    height: 300px;
    
    border: none;
    border-radius: 25px;
    margin-right: 25px;
    background-color: lightpink
}
.icon{
    margin-left: 20px;
    margin-top: 30px;
}
.first-rev-para{
    font-size: 14px;
    padding: 10px;
    margin-top: 10px;
}
.First-image{
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
}
.name{
    display: inline-block;
}
.image{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 15px;
}
.box7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.p-off{
    font-size: 13px;
}
.h-off{
    padding-left: 15px;
}
.off{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.subs{
    padding: 8px 20px 8px 20px;
    border-radius: 3px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
.mail{
    padding: 8px 20px 8px 20px;
    width: 350px;
    margin-right: 10px;
    border-radius: 3px;
}
.img1{
    width: 250px;
    height: 300px;
   border: none;
    border-radius: 15px;
    margin-right: 20px;
    background-image: url(channel/womennnn.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img2{
    width: 250px;
    height: 300px;
   border: none;
    border-radius: 15px;
    margin-right: 20px;
    background-image: url(channel/men-fashion-editorial-outdoors_23-2151905332.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img3{
    width: 250px;
    height: 300px;
   border: none;
    border-radius: 15px;
    margin-right: 20px;
    background-image: url(channel/woman.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img4{
    width: 250px;
    height: 300px;
   border: none;
    border-radius: 15px;
    margin-right: 20px;
    background-image: url(channel/kiddd.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.box8{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.insta{
    width: 30px;
    display: inline-block;
    border-radius: 100%;

}
.follow{
    display: inline-block;
    padding-left: 10px;
}
.instagram{
    font-size: 12px;
    color: grey;
    display: inline-block;
    padding-left: 10px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 100px;
}
.lvv-logo{
    width: 40px;
    display: inline-block;   
}
.brand-name{
    display: inline-block;
    color: white;
    padding-left: 10px;
}
.end{
    display: flex;
    align-items: center;
}
.footer{
    width: 150px;
    height: 200px;
    border: none;
    
}
.p-end{
    font-size: 13px;
    margin-top: 25px;
    color: white;
}
.footer-icon{
    margin-top: 25px;
    margin-right: 10px;
}
.footer2{
     width: 150px;
    height: 200px;
    border: none;
}
.quick{
    margin-bottom: 20px;
    color: white;
}
.fa{
    text-decoration: none;
    color: black;
    font-size: 13px;
    display: block;
    padding-bottom: 5px;
    color: white;
}
.footer3{
     width: 180px;
    height: 200px;
    border: none;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.i-logo{
    width: 20px;
    border-radius: 100%;
    margin-right: 10px;
}
.x-logo{
    width: 35px;
}
.f-logo{
    border-radius: 100%;
    width: 20px;
    margin-right: 10px;
}
.logoss{
    display: flex;
    align-items: center;
}
button{
    cursor: pointer;
}




